@{
    ViewData["Title"] = "Order Confirmed";
}

<h1>@ViewData["Title"]</h1>

<p>
    Your order has been confirmed!
    <br>
    We will try and dispatch it to you as quickly as possible and will provide you with an email once it has left our factory :)
</p>
