
@{
    ViewData["Title"] = "ProteineHat";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
                <h1 style="text-align: center ; font-size: 40px ; color: black">
                Proteine Hat
            </h1>
            <br />
            <br />        
            <br />        
            <br />        
            <br />        
            <br />            
            <br />
            <p style="text-align: center; padding-left: 50px;">

                    At Proteine, we're not just about style; we're about functionality too. Our custom Proteine hats are meticulously crafted to offer not only impeccable style but also superb functionality. Made with premium materials, each hat is designed to provide a comfortable fit and feel, ensuring you can focus on your fitness goals without any distractions while repping the Proteine brand. Join us and become a part of one of the finest brands in the fitness space.
            </p>
        </div>
        <div class="leftside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Price:
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
                <p style="text-align: left ;">
                    $50 NZD - due to limited stock we can allow 1 per customer
                </p>
            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/proteinehat.png" width="450px" height="450px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Buy Now
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">
                    <h5 style="text-align: left;">
                        <b>
                            <a href="@Url.Action("BuyNow","Home")" style="display: inline-block; padding: 10px 20px; background-color: dodgerblue; color: white; text-decoration: none; border-radius: 5px;">Buy Now</a>
                        </b>
                    </h5>




                </h5>

              
            </div>
        </div>

    </div>



</div>

</div>